<!DOCTYPE html>
<html>
    <head>
        <title>Auth Boilerplate</title>
    </head>
    <body>
        <header>
            <nav>
                <% if (currentUser) { %> 
                    <a href="/auth/logout">Logout</a>
                    <a href="/profile">Profile</a>
                <% } %>
            </nav>
        </header>
        <div class="container">
            <h1>Authenticating Users 🍟</h1>
            <%- body %>
        </div>
    </body>
</html>